{% extends 'base.html' %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home-text2">
                    Enter text below to determine the political bias.
                </div>
                <form action="/detector"  method="post">
                    <textarea id="bias_text" name="bias_text" rows="20" cols="80">{{textbox}}</textarea>
                    <br><br>
            </div>
                <div class="col-lg-3 offset-sm-3 center">
                    <div class="home-text2">
                        The text leans towards the:<br>
                        {% if bias_prediction == 1 %}
                            <div style="color:blue">Left</div>
                        {% elif bias_prediction == 2 %}
                            <div style="color:red">Right</div>
                        {% endif %}
                    </div>
                </div>
        </div>
        <script>
            function clearText() {
               document.getElementById("bias_text").value = "";
            }
       </script>
            <input type="Submit">
            <input type="button" name="clear" value="Clear" onclick="clearText();">
        </form>

    </div>

{% endblock %}
